<%- include ./common/header.ejs  %>
    <div class="container-fluid">
        <a href="/loginout" class="btn btn-danger">退出</a>
        <div class="col-sm-10 col-sm-offset-1" style="margin-top:50px;">

            <div class="panel panel-default">
                <div class="panel-heading">
                    搜索
                </div>
                <div class="panel-body">
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            <label for="name">名称</label>
                            <input type="text" class="form-control" id="name" placeholder="请输入名称">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-default">开始搜索</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>图标</th>
                            <th>名称</th>
                            <th>价格</th>
                            <th>邮费</th>
                            <th>创建时间</th>
                            <th>修改时间</th>

                            <th class="text-center">操作</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% for(var i=0;i<arr.length;i++){  %>
                            <tr>
                                <td>
                                    <%=i+1%>
                                </td>
                                <td><img src="<%=arr[i].pic%>" style="width:30px;" class="img-circle"></td>
                                <td>
                                    <%=arr[i].title%>
                                </td>
                                <td>
                                    <%=arr[i].price%>
                                </td>
                                <td>
                                    <%=arr[i].fee%>
                                </td>
                                <td>
                                    <%=moment(arr[i].createAt).format('YYYY/MM/DD HH:mm:ss')%>
                                </td>
                                <td>
                                    <%=moment(arr[i].updateAt).format('YYYY/MM/DD HH:mm:ss')%>
                                </td>
                                <td class="text-center">
                                    <a href="/product/update/<%=arr[i].id%>" class="btn btn-success">修改</a>
                                    <a href="/product/delete/<%=arr[i].id%>?img=<%=arr[i].pic%>" class="btn btn-danger">删除</a>
                                </td>
                            </tr>
                            <% }%>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    </div>

    <%- include  ./common/footer.ejs  %>